$skyBlue: #0082a3;
$darkBlue: #074a5e;
$black: #333333;
$darkBlack: #282828;
$white: #ffffff;
$grey: #f5f5f5;
$borderRadius: 0.7rem;

@mixin set-position($top: 0, $left: 0) {
    top: $top;
    left: $left;
}

@mixin set-size($width: auto, $height: auto) {
    width: $width;
    height: $height;
}

@mixin set-flex($justify-content: center, $align-items: center, $flex-direction: row) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}