@import "variables";
.acticles-list-container {
  max-width: 70%;
}
.articles-container {
  max-width: 100%;
  @include set-flex(space-between, center);
  row-gap: 50px;
  column-gap: 40px;
  margin-bottom: 100px;
}
.card {
  @include set-flex(space-between, center, column);
  background: $black;
  border-radius: $borderRadius;
  overflow: hidden;
  @include set-size(200px, 400px);
  text-decoration: none;
  color: $white;
}
.card-header img {
  @include set-size(100%, 150px);
  object-fit: cover;
}
.card-body {
  @include set-flex(space-between, center, column);
  row-gap: 10px;
  padding: 0 7px;
}
.card-body p {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-source {
  margin-bottom: 10px;
  h5 {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .acticles-list-container {
    max-width: 90%;
  }
  .articles-container {
    @include set-flex(center, center);
  }
}