@import "variables";

.footer-container {
  @include set-size(100%, auto);
  @include set-flex(space-evenly, center);
  column-gap: 20px;
  background: $black;
  img {
    max-width: 100px;
  }
  a:hover {
    opacity: 0.6;
  }
}
@media only screen and (max-width: 768px) {
  .footer-container {
    @include set-flex(center, center);
    img {
      max-width: 70px;
    }
  }
}
