@import 'variables';

.footer-container {
    @include set-size(100%, auto);
    @include set-flex(space-evenly, center);
    column-gap: 20px;
    background: $black;
    img {
        max-width: 120px;
    }
    a:hover {
        opacity: 0.6;
    }
}