@import 'variables';

.footer-container {
    @include set-size(100%, 100px);
    @include set-flex(space-evenly, center);
    gap: 20px;
    background: $black;
    img {
        width: 150px;
    }
    a:hover {
        opacity: 0.6;
    }
}