@import 'variables';

.homepage-container {
  margin-top: 107px;
}
video {
    position: fixed;
    @include set-size(100%, auto);
    @include set-position(0, 0);
    z-index: -1;
    transition: opacity 2s ease-in-out;
}
@media only screen and (max-width: 600px) {
    .map-chart {
      background-image: url("../data/background-mobile.png");
    }
}