@import 'variables';

.info-container {
  @include set-size(1100px, auto);
  @include set-flex(center, center);
  gap: 25px;
  margin-bottom: 70px;
}
.info-card {
  position: relative;
  @include set-size(200px, 200px);
  @include set-flex(center, center, column);
  border-radius: $borderRadius;
  background: $black;
}

.info-card span {
  color: $white;
  margin: 0 10px;
}
.info-card span a {
  text-decoration: none;
  text-align: center;
  color: $white;
  word-break: break-all;
  &:hover {
      text-decoration: underline;
  }
}
.info-card .icons {
  font-size: 25px;
}
