@import 'variables';

.infomation-container {
  max-width: 70%;
}
.info-container {
  max-width: 100%;
  @include set-flex(center, center);
  gap: 53px;
  margin-bottom: 100px;
}
.info-card {
  position: relative;
  @include set-size(170px, 170px);
  @include set-flex(center, center, column);
  border-radius: $borderRadius;
  background: $black;
}

.info-card span {
  color: $white;
  margin: 0 10px;
}
.info-card span a {
  text-decoration: none;
  text-align: center;
  color: $white;
  word-break: break-all;
  &:hover {
      text-decoration: underline;
  }
}
.info-card .icons {
  font-size: 25px;
}

@media only screen and (max-width: 768px) {
  .infomation-container {
    max-width: 90%;
  }
  .info-container {
    @include set-flex(center, center);
  }
}