.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.info-card {
    position: relative;
    height: 150px;
    width: 150px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-card:before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transform: rotateZ(45deg);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: .7rem;
}
.info-card:after {
    position: absolute;
    content: '';
    transform: rotateZ(45deg);
}
.info-card span {
    color: white;
}
.info-card .icons {
    font-size: 25px;
}