@import 'variables';

.department-container {
    max-width: 100%;
    @include set-flex(space-between, center, column);
    background: $darkBlack;
}
.chart-container {
  width: 70%;
}
.map-weather-container {
    max-width: 100%;
    @include set-flex(space-between, center);
    margin-bottom: 100px;
}