@import 'variables';

.department-container {
    @include set-flex(space-between, center, column);
    background: $darkBlack;
}
.map-info-container {
    @include set-flex(space-between, center);
    @include set-size(1100px, auto);
    column-gap: 90px;
    margin-bottom: 70px;
}