@import 'variables';

.slideshow-container {
  position: relative;
  @include set-size(1100px, 700px);
  margin-top: 107px;
  overflow: hidden;
}
.slideshow-container h2 {
  position: absolute;
  z-index: 1;
  @include set-size(150px, auto);
  @include set-position(8px, 45px);
}
.slideshow-slider {
  white-space: nowrap;
  transition: ease 3000ms;
}
.slideset {
  position: relative;
  display: inline-block;
  @include set-size(100%, 600px);
  text-align: center;
  background: $darkBlack;
}
.slide {
  object-fit: cover;
  @include set-size(auto, 600px);
  max-width: 1100px;
}
.author {
  position: absolute;
  bottom: 0px;
  right: 10%;
  padding: 0 5px;
  background-color: $white;
  opacity: 0.6;
  border-radius: $borderRadius;
  a {
    text-decoration: none;
    color: $darkBlack;
    @include set-flex(center, center);
    img {
      border-radius: 50%;
      margin-right: 5px;
    }
  }
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
[aria-current="disabled"] {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: $darkBlack;
}
/* Buttons */

.slideshow-dots {
  text-align: center;
}

.slideshow-dot {
  display: inline-block;
  @include set-size(10px, 10px);
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: $grey;
}

.slideshow-dot.active {
  background-color: $black;
}
