.navbar-container {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  opacity: 0.9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-button {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  display: flex;
  align-items: center;
  img {
    height: 100px;
    width: auto;
  }
}

.navbar-container form {
  border-radius: 0.7rem;
  margin-right: 2rem;
  height: 50px;
  width: 350px;
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  .icons {
    color: #074a5e;
  }
}
.navbar-container form {
  input,
  button {
    height: 50px;
    border: 0;
    font-size: 15px;
  }
  input[type="search"] {
    width: 100%;
    background: #fff;
    padding: 0 10px;
    border-radius: 0.7rem;
    transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }
  button[type="submit"] {
    display: none;
    width: 50px;
    font-weight: bold;
    background: #0082a3;
    border-radius: 0 0.7rem 0.7rem 0;
    .nav-icons {
      text-decoration: none;
      color: white;
    }
  }
  input:not(:placeholder-shown) {
    border-radius: 0.7rem 0 0 0.7rem;
    width: calc(100% - 50px);
    + button {
      display: block;
    }
  }
}

.nav-menu {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  &.active {
    left: 0;
    transition: 350ms;
    z-index: 9999;
  }
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 60px;
  margin: auto 20px;
  a {
    text-decoration: none;
    color: #074A5E;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    &:hover {
      background-color: #0082a3;
      color: white;
    }
  }
}

.nav-menu-items {
  padding: 0;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

li span {
  margin-left: 16px;
}

.nav-icons {
  color: #0082a3;
  padding: 10px;
  &:hover {
    color: white;
    background: #0082a3;
    border-radius: 4px;
  }
}
