@import "variables";

.navbar-container {
  position: fixed;
  @include set-size(100%, 100px);
  @include set-flex(space-between, center);
  top: 0;
  background-color: $white;
  z-index: 9999;
  opacity: 0.9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-button {
  @include set-flex(center, center);
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  img {
    max-height: 90px;
  }
}

.navbar-container form {
  @include set-size(25%, 50%);
  @include set-flex;
  border-radius: $borderRadius;
  margin-right: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  .icons {
    color: $darkBlue;
  }
}
.navbar-container form {
  input,
  button {
    @include set-size(auto, 50px);
    border: none;
    font-size: 15px;
  }
  input[type="search"] {
    @include set-size(100%, 100%);
    background: $white;
    padding: 0 10px;
    border-radius: $borderRadius;
    transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }
  button[type="submit"] {
    display: none;
    @include set-size(50px, 100%);
    font-weight: bold;
    background: $skyBlue;
    border-radius: 0 $borderRadius $borderRadius 0;
    .nav-icons {
      text-decoration: none;
      color: $white;
    }
  }
  input:not(:placeholder-shown) {
    border-radius: $borderRadius 0 0 $borderRadius;
    width: calc(100% - 50px);
    + button {
      display: block;
    }
  }
}

.nav-menu {
  position: fixed;
  @include set-position(0, -100%);
  @include set-size(auto, 100%);
  @include set-flex(center, flex-start);
  background-color: $white;
  transition: 850ms;
  &.active {
    @include set-position(0, 0);
    transition: 350ms;
    z-index: 9999;
  }
}

.nav-text {
  @include set-flex(flex-start, center);
  @include set-size(auto, 60px);
  list-style: none;
  margin: auto 20px;
  a {
    @include set-size(100%, 100%);
    @include set-flex(flex-start, center);
    text-decoration: none;
    color: $darkBlue;
    font-size: 18px;
    padding: 0 16px;
    border-radius: $borderRadius;
    &:hover {
      background-color: $skyBlue;
      color: $white;
    }
  }
}

.nav-menu-items {
  padding: 0;
}

.navbar-toggle {
  @include set-size(100%, 80px);
  @include set-flex(flex-start, center);
  margin-bottom: 30px;
}

li span {
  margin-left: 16px;
}

.nav-icons {
  color: $skyBlue;
  &:hover {
    color: $white;
    background: $skyBlue;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 768px) {
  .menu-button {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    max-width: 60%;
    img {
      max-height: 70px;
    }
  }
  .navbar-container form {
    max-width: 30%;
    max-height: 50%;
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-container {
    max-width: 100%;
    max-height: fit-content;
  }
  .menu-button {
    margin-left: 0.5rem;
    max-width: 70%;
    img {
      max-height: 50px;
    }
  }
  .navbar-container form {
    width: 30%;
    max-height: 40%;
    margin-right: 0.5rem;
  }
}
