@import 'variables';

.weather-chart-container {
    width: 45%;
    height: 500px;
    border-radius: $borderRadius;
    background: $black;
    h3 {
        color: $white;
        margin: 20px 10px;
    }
    button {
        @include set-size(40%, 50px);
        font-family: inherit;
        color: $white;
        background: $darkBlack;
        border-color: $darkBlack;
        border-radius: $borderRadius;
        margin: 10px 5px;
        &:hover {
            cursor: pointer;
            background: $white;
            color: $darkBlack;
        }
        &:disabled {
            cursor: default;
            color: $white;
            background: $darkBlack;
            border-color: $darkBlack;
        }
    }
}

.custom-tooltip {
    @include set-flex(center, center, column);
    background: $white;
    color: $darkBlack;
    opacity: 0.9;
    padding: 20px 10px;
    line-height: 25px;
    border-radius: $borderRadius;
}

@media only screen and (max-width: 768px) {
    .weather-chart-container {
        width: 100%;
    }
}