.weather-chart-container {
    width: 500px;
    height: 500px;
    border-radius: 0.7rem;
    background: #333333;
    h3 {
        color: white;
    }
    button {
        font-family: inherit;
        color: white;
        background: #282828;
        border-color: #282828;
        border-radius: .5rem;
        height: 50px;
        width: 150px;
        margin: 10px 5px;
        &:hover {
            cursor: pointer;
            background: white;
            color: #282828;
        }
        &:disabled {
            cursor:inherit;
        }
    }
}

.custom-tooltip {
    display: flex;
    flex-direction: column;
    background: white;
    color: #282828;
    opacity: 0.9;
    padding: 20px 10px;
    line-height: 25px;
    border-radius: .7rem;
}