@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap');

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
}
h2 {
  color: white;
  text-align: left;
  font-size: 50px;
  top: 8px;
  left: 45px;
}